streamlit>=1.36
streamlit-pdf-viewer
pdfplumber
sentence-transformers
torch
torchvision
faiss-cpu
numpy
requests
pypdf
langchain
langchain-core
langchain-community
langchain-huggingface
chromadb
python-dotenv
